/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  position: absolute;
  height: 100%;
  width: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*MyStyle*/
* {
  box-sizing: border-box;
}
.app-container{
  margin-top: 3%;
  padding: 2%;
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.chart-box{
  width: 1024px;
  height: 768px;
  background-color: rgba(218, 165, 32, 0.26);
  padding: 1%;
  border: 2px solid darkgray;
  flex: 3;
}
.chart-box canvas{
  min-width: 250px;
  min-height: 250px;
  max-height: 768px;
}
.chart-form{
  padding: 1%;
  margin-top: 3%;
  font-size: 20px;
  width: 1024px;
  flex: 1;
  border: 2px solid darkgrey;
}

.chart-form label{
  font-weight: bold;
}

.chart-form label.title{
  display: inline-block;
  margin-bottom: 3%;
  width: 100%;
  text-align: center;
  font: bold italic large Verdana;
}
.chart-form button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 30%;
  text-align: center;
}
.chart-form .flex-row{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.flex-row div{
  margin-right: 1%;
  margin-top: 1%;
}
.chart-form input{
  border: 1px thin darkslategray;
  display: inline-block;
  margin-left: 2px;
  max-width: 60px;
  width: 10vw;
}

@media (max-width: 1150px) {
  .chart-box{
    width: 90vw;
  }
  .chart-form{
    width: 90vw;
  }
}
@media (max-width: 800px){
  .chart-box{
    width: 90vw;
    height: 90vh;
  }
  .chart-form{
    font-size: 14px;
  }
}